- separator = false;
div.col-xs-4.w-50
    div.w-100
        h5.text-center= data.article.length + ' Artikel'

    div.w-100(id="article_list")
        each val in data.article
            if (separator)
                div(style='text-align: center; height: 17px;')
                    svg(id="arrows-expand"
                        style='height: 17px;vertical-align: top;'
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                    ).bi.bi-arrows-expand
                        path(
                            fill-rule="evenodd"
                            d="M1 8a.5.5 0 01.5-.5h13a.5.5 0 010 1h-13A.5.5 0 011 8zM7.646.146a.5.5 0 01.708 0l2 2a.5.5 0 01-.708.708L8.5 1.707V5.5a.5.5 0 01-1 0V1.707L6.354 2.854a.5.5 0 11-.708-.708l2-2zM8 10a.5.5 0 01.5.5v3.793l1.146-1.147a.5.5 0 01.708.708l-2 2a.5.5 0 01-.708 0l-2-2a.5.5 0 01.708-.708L7.5 14.293V10.5A.5.5 0 018 10z"
                        )
            div.card.border-dark
                if (!separator)
                    div.ct-buttonTbOneDiv
                        span.ct-TbOneLabel.float-lg-right zu TB.One
                        include ./button_upload

                div.collapse.show(
                    id=val.a_nr + '_card_body'
                    data-parent= '#article_list'
                    aria-labelledby= val.a_nr + '_card_header'
                )
                    div.card-body
                        div.w-100.ct-padding(id='a_nr2' + val.a_nr)
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='a_ean' + val.a_nr2 + '_input') RefCode
                                input.form-control(type='text', value=val.a_nr2, disabled)
                                - infoboxType = 1;
                                - infoboxNr = val.a_nr;
                                - isAvailable = infoboxData.article[val.a_nr]['infoboxHasData'];
                                - infoText = infoboxData.article[val.a_nr]['infoText'];
                                include ../infobox/button_infobox

                        div.w-100.ct-padding(id='a_nr' + val.a_nr)
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='a_ean' + val.a_nr + '_input') Artikelnummer
                                input.form-control(type='text', value=val.a_nr, disabled)
                        div.w-100.ct-padding(id='a_ean' + val.a_nr)
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='a_ean' + val.a_nr + '_input') EAN
                                input.form-control(type='text', value=val.a_ean, disabled)
                        if (val.a_delivery_time != null)
                            div.w-100.ct-padding(id='a_ean' + val.a_nr)
                                div.input-group
                                    div.input-group-append.w-25
                                        span.input-group-text.w-100(
                                            id='a_delivery_time' + val.a_nr + '_input'
                                            data-toggle="tooltip"
                                            title='Die in Lynn gepflegte Lieferzeit in Werktagen.'
                                            ) Lieferzeit in Werktagen
                                    input.form-control(type='text', value=val.a_delivery_time, disabled)
                        div.w-100.ct-padding(id='a_createAt' + val.a_nr)
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='a_ean' + val.a_nr + '_input') erstellt - geändert
                                input.form-control(type='text', value=val.a_createdAt+' - '+val.a_updatedAt, disabled)
                        div.w-100()

                        div.w-100(id='channel_' + val.a_nr)
                            div.container-fluid
                                div.row
                                    div.col-xs-4.w-75
                                        table.table.table-sm.table-hover.table-striped.table-bordered.w-100
                                            thead
                                                tr
                                                    th(scope='col') Kanal
                                                    th(scope='col') Kürzel
                                                    th(scope='col').text-center Aktiv
                                                    th(scope='col').text-center Preis
                                                    th(scope='col').text-center
                                                        button.btn.btn-sm.btn-outline-secondary(
                                                            id='updateArticlePrice' + val.a_nr + '_'
                                                            onclick='updateArticlePrice("' + val.a_nr + '","")'
                                                        ) Alle --> TB.One
                                            tbody
                                                each iter in val.channelData
                                                    if (iter.name !== 'TB')
                                                        tr
                                                            td(scope='row')=iter.name
                                                            td(scope='row')=iter.key
                                                            td(scope='row')
                                                                div.form-check.text-center
                                                                    input.form-check-input(
                                                                        id='art_channel_'+val.a_nr+'_'+iter.key
                                                                        onclick='updateChannelArticleState('+val.a_nr+',"'+iter.key+'",'+data.product.p_nr+')'
                                                                        type='checkbox'
                                                                        checked=iter.is_active
                                                                        disabled=iter.disabled
                                                                        )
                                                            td(
                                                                scope='row'
                                                                data-toggle="tooltip" title='Zuletzt aktualisiert am: '+iter.updatedAt
                                                                ).text-sm-right= iter.price

                                                            td(scope='row')
                                                                div.container.text-center
                                                                    button.btn.btn-sm.btn-outline-secondary(
                                                                        id='updateArticlePrice' + val.a_nr + '_' + iter.key
                                                                        onclick='updateArticlePrice("' + val.a_nr + '","' + iter.key + '")'
                                                                        ) Hoppi!
                                    div.col-xs-4.w-25
                                        table.table.table-sm.table-hover.table-striped.table-bordered.w-100
                                            thead
                                                tr
                                                    th(scope='col').text-center.w-50 Lager
                                                    th(scope='col').text-center Menge
                                                    th(scope='col').text-center
                                                        button.btn.btn-sm.btn-outline-secondary(
                                                            id='updateArticleStock' + val.a_nr + '_'
                                                            onclick='updateArticleStock("' + val.a_nr + '","")'
                                                        ) Alle
                                            tbody
                                                each iter in val.channelData
                                                    if (iter.name !== 'TB')
                                                        tr
                                                            td(scope='row')=iter.stock
                                                            td(
                                                                scope='row'
                                                                data-toggle="tooltip" title='Zuletzt aktualisiert am: '+iter.updatedAt
                                                                ).text-sm-right=iter.quantity
                                                            td(scope='row')
                                                                div.container.text-center
                                                                    button.btn.btn-sm.btn-outline-secondary(
                                                                        id='updateArticleStock' + val.a_nr + '_' + iter.key
                                                                        onclick='updateArticleStock("' + val.a_nr + '","' + iter.key + '")'
                                                                    ) xxx
            - separator = true


