doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        include ../views/modals/modal_new_channel
        include ../views/modals/modal_edit_channel
        div.container-fluid
            table.table.table-sm.table-striped
                thead
                    tr.info
                        th(scope='col') Name
                        th(scope='col') Schlüssel
                        th(scope='col') Aktiv
                        th(scope='col') Aufschlag
                        th(scope='col') Image Typ (TB)
                        th(scope='col') Zugeordnetes Lager (TB)
                        th(scope='col') Min. Breite für Bilder
                        th(scope='col') Min. Höhe für Bilder
                        th(scope='col')
                            button.btn.btn-outline-secondary.btn-sm(
                                id='btn_0'
                                data-toggle='modal'
                                data-target='#modal_0') Neu
                            +NewChannelModal()
                tbody
                    each val in data
                        tr
                            td(scope='row')
                                label.small=val.channel_name
                            td(scope='row')
                                label.small=val.channel_key
                            td(scope='row')
                                label.small=val.channel_is_active? 'ja' : 'nein'
                            td(scope='row')
                                label.small=val.channel_surcharge
                            td(scope='row')
                                label.small=val.image_type
                            td(scope='row')
                                label.small=val.stock
                            td(scope='row')
                                label.small=val.image_width
                            td(scope='row')
                                label.small=val.image_height
                            td(scope='row')
                                button.btn.btn-outline-secondary.btn-sm(
                                    id='btn_'+val.channel_key
                                    data-toggle='modal'
                                    data-target='#modal_'+val.channel_key) Edit
                                +Channelmodal(val.channel_key, val)