doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        div.m-3
            div.col.mt-4.text-center
                img(src='images/logo.jpg')
            hr
            div.col.mt-4.text-center
                each text in viewData.titleDashboard
                    if (text.substring(0,11) === 'Der CronJob')
                        h1.text-secondary.ct-coverSheet=text
                    else
                        h3.text-secondary.ct-coverSheet=text

