div.col-md-12.text-center.stickyBottom
    div.btn-group.w-50(role="group" aria-label="Basic example")

        if viewData.offset > 0
            button.btn.btn-secondary(type="button" onclick="updateTheView(0)") <<
            button.btn.btn-secondary(type="button" onclick="updateTheView(" + viewData.offsetLeft + ")") <
        else
            button.btn.btn-secondary(type="button" disabled) <<
            button.btn.btn-secondary(type="button" disabled) <

        input(type="text" style="width: 250px; text-align: center" value=viewData.buttonMiddelText readonly)

        if viewData.offset < viewData.offsetToBottom
            button.btn.btn-secondary(type="button" onclick="updateTheView(" + viewData.offsetRight + ")") >
            button.btn.btn-secondary(type="button" onclick="updateTheView(" + viewData.offsetToBottom + ")") >>
        else
            button.btn.btn-secondary(type="button" disabled) >
            button.btn.btn-secondary(type="button" disabled) >>
