- title = title === undefined ? 'Karl' : title
title= title
base(href="/")
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
script(type='text/javascript' src='/js/channels.js')

if (datepickerView)
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css')
    link(rel="stylesheet" type='text/css' href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")

    //link(rel='stylesheet' type='text/css' href='public/glyphicons-only-bootstrap/css/bootstrap.css')
    //link(rel="stylesheet" href="/font/dashicons/css/dashicons.css")


if (infobox)
    link(rel='stylesheet' type='text/css' href='/css/infobox.css')
    script(type='text/javascript' src='/js/infobox.js')

if (productOverview)
    script(type='text/javascript' src='/js/articles.js')
    script(type='text/javascript' src='/js/productOverview.js')
    link(rel='stylesheet' type='text/css' href='/css/productOverview.css')

if (orderView)
    script(type='text/javascript' src='/js/orderView.js')
    script(type='text/javascript' src='/js/orderDetailForUser.js')
    script(type='text/javascript' src='/js/setScreen.js')
    link(rel='stylesheet' type='text/css' href='/css/order.css')
    link(rel='stylesheet' type='text/css' href='/css/orderDetailForUser.css')

if (taskActive)
    script(type='text/javascript' src='/js/taskActive.js')
    link(rel='stylesheet' type='text/css' href='/css/taskActive.css')


