doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        div.m-3
            div.col.mt-4.text-center
                img(src='images/logo.jpg')
            hr
            div.col.mt-4.text-center
                h1.text-secondary.ct-coverSheet=viewData.titleDashboard[0]
                h3.text-secondary.ct-coverSheet=viewData.titleDashboard[1]
