doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        div.container-fluid
            div.row
                div.col-xs-4.w-100.p-2
                    div.card.border-dark(style ="padding: 12px;")
                        div.w-100
                            div
                                h5.text-center Liste aller Jobs und ihrer Zustände
                                each process in viewData.processes
                                    - grantedRuntime = process.grantedRuntime == null ? 0 : process.grantedRuntime
                                    div.w-100
                                        div.input-group.w-100
                                            div.input-group-append.w-25
                                                span.ct-paddingSpan.input-group-text.w-100=process.jobName
                                            div.input-group-append.w-25

                                                div.input-group.w-100
                                                    div.input-group-append.w-50
                                                        if process.status
                                                            span.ct-paddingSpan.input-group-text.w-100.text-success=process.displayStatus
                                                        else
                                                            span.ct-paddingSpan.input-group-text.w-100=process.displayStatus
                                                    div.input-group-append.w-50
                                                        span.ct-paddingSpan.input-group-text.w-100=process.displayUpdatedAt


                                            div.input-group-append.w-25
                                                span.ct-paddingSpan.input-group-text.w-100=process.info
                                            div.input-group-append.w-25
                                                span.ct-paddingSpan.input-group-text.w-100=process.description
                                        div.input-group.mb-3.w-100
                                            div.input-group-append.w-25
                                                div.input-group.w-100
                                                    span.ct-paddingSpan.input-group-text.w-100=process.timeDescription
                                            div.input-group-append.w-25
                                                div.input-group.w-100
                                                    div.input-group-append.w-50
                                                        if process.initialized == 1
                                                            span.ct-paddingSpan.input-group-text.w-100.text-dark Job ist aktiviert
                                                        else
                                                            span.ct-paddingSpan.input-group-text.w-100.text-danger Job ist deaktiviert
                                                    div.input-group-append.w-50
                                                        span.ct-paddingSpan.input-group-text.w-100=process.cronTime
                                            div.input-group-append.w-50
                                                div.input-group-append.w-100
                                                    div.input-group-append.w-50
                                                        span.ct-paddingSpan.input-group-text.w-100='gewährt Laufzeit: ' + grantedRuntime + 'h'
                                                    if process.status
                                                        div.btn.w-50.btn-outline-secondary.disabled Job läuft
                                                    else
                                                        button.ct-paddingSpan.btn.w-50.btn-outline-secondary(
                                                            onclick= `startCronJob('${process.jobName}')`
                                                        ) Job aufrufen

