- let isTest = test
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    if page === 'home'
        a.navbar-brand(href='/')
            strong(style="color:#3f888f") Karl
    else
        a.navbar-brand(href='/') Karl

    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
            li.nav-item
                if page === 'logs'
                    a.nav-link(href='/logs/')
                        strong(style="color:#3f888f") Logs
                else
                    a.nav-link(href='/logs/') Logs

            li.nav-item
                if page === 'product'
                    a.nav-link(href='/product/')
                        strong(style="color:#3f888f") Produkt
                else
                    a.nav-link(href='/product/') Produkt
            //li.nav-item
            //    if page === 'order'
            //        a.nav-link(href='/order/')
            //            strong(style="color:#3f888f") Auftrag anzeigen
            //    else
            //        a.nav-link(href='/order/') Auftrag anzeigen
            //li.nav-item
            //    if page === 'loadOrderData'
            //        a.nav-link(href='/loadOrderData/')
            //            strong(style="color:#3f888f") Auftrag abholen
            //    else
            //        a.nav-link(href='/loadOrderData/') Auftrag abholen
            li.nav-item
                if page === 'channel'
                    a.nav-link(href='/channel/')
                        strong(style="color:#3f888f") Kanäle
                else
                    a.nav-link(href='/channel/') Kanäle

            //li.nav-item
            //    a.nav-link(href='/quality/')
            //        span Qualität&#32;
            //            span.badge.badge-secondary New

            li.nav-item
                if page === 'taskActive'
                    a.nav-link(href='/jobStatus/')
                        strong(style="color:#3f888f") Jobstatus
                else
                    a.nav-link(href='/jobStatus/') Jobstatus

            if isTest
                li.nav-item
                    a.text-danger.nav-link.disabled(href='/') INTEGRATION - NICHT LIVE || TEST-UMGEBUNG

        ul.navbar-nav.float-right
            li.nav-item
                a.nav-link(href='#')
