//include orderDetail/modal_order_detail_oneView
include orderDetail/modal_order_detail_rawData
include orderDetail/modal_order_detail_menu
doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
            input(id='rawDataCheckbox' type='checkbox').ct-rawDataCheckbox
div.ct-divStickyBottom
    img(id='imgBottomSticky')
div.container-fluid
    table.order.table.table-striped.table-hover.table-condensed.table-bordered
        thead
            // id
            th().orderHead.id
                label(
                    data-toggle="tooltip" title="Id aus Karl"
                ) ID

            // TbOne-Id
            th.orderHead
                label(
                    data-toggle="tooltip" title="Eindeutige, kanalübergreifende Auftragsnummer aus TB.One,\n" +
                    "mit der Sie den Auftrag jederzeit eindeutig identifizieren können."
                ) TbOne-Id

            // Channel
            th.orderHead
                label(
                    data-toggle="tooltip" title="Kanalkennzeichen"
                ) Channel
                select(id='channelSign'
                    style="width: 120px;"
                    data-toggle="tooltip" title="Filtert einen bestimmten Type aus den Daten."
                    onchange='updateTheView()' ).form-control

            // Anzahl Pos.
            th.orderHead
                label(
                    data-toggle="tooltip" title="Anzahl der Bestellpositionen"
                ) Anzahl Pos.

            // Summe €
            th.orderHead
                label(
                    data-toggle="tooltip" title="Gesamtsumme der Auftragspositionen Brutto"
                ) Summe €

            // Zahlungskennzeichen
            th.orderHead
                label(
                    data-toggle="tooltip" title="Bezahlt-Kennzeichen. Kennzeichen:\n" +
                "    0 = nicht bezahlt (i.A. ein schwebender Auftrag)\n" +
                "    1 = bezahlt (bestätigter Auftrag)\n" +
                "    2 = Zahlungsausfall"
                ) Zahlung

            // Kunden Kommentar
            th.orderHead.customerComment
                label(
                    data-toggle="tooltip" title="Kundenbemerkung zum Auftrag"
                ) Kunden Kommentar

            // Bestelldatum
            th.orderHead
                label(
                    data-toggle="tooltip" title="Datum der Kundenbestellung, falls diese vom Kanal übermittelt wird.\n" +
                    "Andernfalls wird von TB.One das Datum Imports eingetragen."
                ) Bestelldatum

            // Details
            th.orderHead
                label(
                    data-toggle="tooltip" title="Zu den Details."
                ) Details

        tbody
            each val in viewData.orderData
                tr(id="tr_" + val.id).info
                    td.orderBody.id=val.id
                    td.orderBody.tbId=val.tbId
                    td.orderBody.channelSign=val.channelSign
                    td.orderBody.itemCount=val.itemCount
                    td.orderBody.totalItemAmount=val.totalItemAmount
                    td.orderBody.paid=val.paid
                    td.orderBody.customerComment=val.customerComment
                    td.orderBody.orderDate=val.orderDate
                    td.orderBody
                        button.btn.btn-secondary(
                            id='btn_' + val.id
                            type="button"
                            style="padding: 0rem 0.75rem;"
                            onclick="detailsLoad(" + val.id + ")"
                        ) anzeigen
                        //data-toggle='modal'
                        //data-target='#modal_OrderDetailMenu'
                        //data-target='#modal_OrderRawData'
                        //data-target='#modal_OrderDataDetailOneView'

    include footNavigation

    div
        input(type="hidden", id="jsOffset", value=viewData.parameterForJS.offset)
        input(type="hidden", id="jsChannelSign", value=viewData.parameterForJS.channelSign)

