doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        div.container-fluid
            div.row
                div.col-xs-4.w-50
                    div.card.border-dark(style ="padding: 19px;")
                        div.w-100
                            h5.text-center Bildermanagment (ohne Funktion)
                        div.w-100(id='image_task')
                            div.input-group.mb-3.w-100
                                div.input-group-append.w-75
                                    span.input-group-text.w-100 zu kleine Bilder deaktivieren
                                button.btn.w-25.btn-outline-secondary Job Starten
                        div.w-100(id='url_image_kill')
                            div.input-group.mb-3.w-100
                                div.input-group-append.w-25
                                    span.input-group-text.w-100 Links
                                input.w-50.form-control(type='text', placeholder='http://cybertrading.de/cooles_bild.jpg')
                                button.btn.w-25.btn-outline-secondary URL deaktivieren
                        div.w-100(id='mpn_image_kill')
                            div.input-group.mb-3.w-100
                                div.input-group-append.w-25
                                    span.input-group-text.w-100 MPN
                                input.w-50.form-control(type='text', placeholder='z.B. ABC CDE')
                                button.btn.w-25.btn-outline-secondary Bilder deaktivieren
                div.w-50
                    div.card.border-dark(style ="padding: 19px;")
                        div.w-100
                            h5.text-center ArtikelManagement (ohne Funktion)
