doctype html
html(lang = 'de')
    head
        include head
    body
        include navigation
        div.container-fluid
            table.table.table-striped.table-hover.table-condensed
                thead
                    // ID
                    th(style='padding:2px; vertical-align:top;').col-auto
                        label ID

                    // Type
                    th(style='padding:2px; vertical-align:top;').col-auto
                        label Type
                        select(id='type'
                            style="width: 90px;"
                            data-toggle="tooltip" title="Filtert einen bestimmten Type aus den Daten."
                            onchange='updateTheView()' ).form-control

                            // Wird über JS nachgeladen
                            //option(value="-1")
                            //each val in viewData.filterOfType
                            //    if viewData.type === val.type
                            //        option(value=val.type selected='selected') #{val.type}
                            //    else
                            //        option(value=val.type) #{val.type}

                    // Tag
                    th(style='padding:2px; vertical-align:top;').col-auto
                        label Tag
                        select(id='tag'
                            style="width: 260px;"
                            data-toggle="tooltip" title="Filtert einen bestimmten Tag aus den Daten."
                            onchange='updateTheView()').form-control

                            // Wird über JS nachgeladen
                            //option(value="-1")
                            //each val in viewData.filterOfTag
                            //    if viewData.tag === val.tag
                            //        option(value=val.tag selected='selected') #{val.tag}
                            //    else
                            //        option(value=val.tag) #{val.tag}

                    // ShortDescription
                    th(style='padding:2px; vertical-align:top;').col-auto
                        label ShortDescription
                        input(type="text"
                            id="shortDescription"
                            value=viewData.shortDescription
                            placeholder=" enthaltender Text"
                            style="width: 230px;"
                            data-toggle="tooltip" title="Gib hier einen enthaltenen Text ein, nachdem gefiltert werden soll."
                            onchange='updateTheView()').form-control

                    // Description
                    th(style='padding:2px; vertical-align:top;').col-auto
                        label Description
                        input(type="text"
                            id="description"
                            value=viewData.description
                            placeholder=" enthaltender Text"
                            style="width: 400px;"
                            data-toggle="tooltip" title="Gib hier einen enthaltenen Text ein, nachdem in den 'Description' gefiltert werden soll."
                            onchange='updateTheView()').form-control

                    // Date
                    th(style='padding:2px; vertical-align:top; width: 187px').col-auto
                        label Datum von
                        div(id="datetimepicker-start-div")
                            input(id="datetimepicker-start"
                                type='text'
                                style='width: 180px; display:table-caption;'
                                data-toggle="datetimepicker"
                                data-target="#datetimepicker-start").form-control.datetimepicker-input.float-left

                    th(style='padding:2px; vertical-align:top; width: 187px;').col-auto
                        label bis

                        input(type="image"
                            src="/images/trash.svg"
                            alt="Mülleimer"
                            style="margin-left: 130px; height: 24px; margin-top: -10px; margin-bottom: -8px;"
                            data-toggle="tooltip" title="Löscht die Datumseingabe und lädt die Seite neu!"
                            onclick='clearDate()')

                        div(id="datetimepicker-end-div")
                            input(id="datetimepicker-end"
                                type='text'
                                style="width: 180px; display:table-caption;"
                                data-toggle="datetimepicker"
                                data-target="#datetimepicker-end").form-control.datetimepicker-input

                tbody
                    each val in data
                        tr.info
                            td(style='padding:2px;')
                                div.text-muted= val.id
                            td(style='padding:2px;')=val.type + '                            '
                            td(style='padding:2px;')=val.tag
                            td(style='padding:2px; white-space: nowrap;')=val.shortDescription
                            td(style='padding:2px; white-space: nowrap;')=val.description
                            td(style='white-space:nowrap; padding:2px; text-align: center;'
                                colspan='2')=val.displayCreatedAt

            include footNavigation

        div.hidden-values
            input(type="hidden", id="offset", value=viewData.offset)
            input(type="hidden", id="limit", value=viewData.limit)
            input(type="hidden", id="unixStartDate", value=viewData.unixStartDate)
            input(type="hidden", id="unixEndDate", value=viewData.unixEndDate)
            input(type="hidden", id="isDate", value=viewData.isDate)

    //script.
    //    window.setInterval('window .location.reload();', 10000);

    script.

        function updateTheView(_offset) {
            let shortDescription = document.getElementById("shortDescription").value !== ''
                ? document.getElementById("shortDescription").value
                : '-1';

            let description = document.getElementById("description").value !== ''
                ? document.getElementById("description").value
                : '-1';

            let offset = parseInt(document.getElementById("offset").value);
            let selectedDate = this.getSelectedDate();
            // this.getDateTimeForUnix(selectedDate.unixStartDate);
            // console.log(selectedDate);

            // Durch das Nachladen der Filter ist der Wert nicht immer vorhanden,
            // dann wird der Wert vom letzten Aufruf genommen.
            // Dieser wird vom den Controller zur Verfügung gestellt.
            // (viewData.parameterForJS).
            let type = '';
            if (document.getElementById("type") === undefined || document.getElementById("type").value === '') {
                type = '#{viewData.parameterForJS.type}';
            } else {
                type = document.getElementById("type").value;
            }

            let tag = '';
            if (document.getElementById("tag") === undefined || document.getElementById("tag").value === '') {
                tag = '#{viewData.parameterForJS.tag}';
            } else {
                tag = document.getElementById("tag").value;
            }

            if (typeof _offset === 'number') {
                offset = _offset;
            }
            window.document.location.href = '/logs/'
                + offset + '/'
                + document.getElementById("limit").value + '/'
                + type + '/'
                + tag + '/'
                + shortDescription + '/'
                + description + '/'
                + selectedDate.unixStartDate + '/'
                + selectedDate.unixEndDate + '/'
        }

        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            format: 'DD.MM.YYYY - HH:mm:00',
            locale: 'de',
            // closeText: "Ok",
            calendarWeeks: false,
            ignoreReadonly: true,
            // debug: true,
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check',
                clear: 'far fa-trash-alt',
                close: 'fas fa-times'
            },
            buttons: {
                showToday: true,
                showClose: true,
                showClear: false,
            },
            tooltips: {
                today: 'wählt das "Jetzt"',
                clear: 'Clear selection',
                close: 'Schließt die Datumsauswahl',
                selectMonth: 'zur Monatsauswahl',
                prevMonth: 'zum Vormonat',
                nextMonth: 'zum nächsten Monat',
                selectYear: 'zur Jahresauswahl',
                prevYear: 'zum Vorjahr',
                nextYear: 'zum nächsten Jahr',
                selectDecade: 'zur Dekadenauswahl',
                prevDecade: 'zur Vordekade',
                nextDecade: 'zur nächste Dekade',
                prevCentury: 'Previous Century',
                nextCentury: 'Next Century',
                incrementHour: 'nächste Stunde',
                pickHour: 'zur Stundenauswahl',
                decrementHour: 'vorherige Stunde',
                incrementMinute: 'nächste Minute',
                pickMinute: 'zur Minutenauswahl',
                decrementMinute: 'vorherige Minute',
                incrementSecond: 'Increment Second',
                pickSecond: 'Pick Second',
                decrementSecond: 'Decrement Second'
            }

        });

        function setDates() {
            let unixStartDate = parseInt(document.getElementById("unixStartDate").value);
            let unixEndDate = parseInt(document.getElementById("unixEndDate").value);
            if (!isNaN(unixStartDate))
                $('#datetimepicker-start')
                    .datetimepicker('date', moment(this.getDateTimeForUnix(unixStartDate), 'DD.MM.YYYY - HH:mm:ss'));

            if (!isNaN(unixEndDate))
                $('#datetimepicker-end')
                    .datetimepicker('date', moment(this.getDateTimeForUnix(unixEndDate), 'DD.MM.YYYY - HH:mm:ss'));
        }
        setDates();

        $(function () {
            $('#datetimepicker-start').datetimepicker();

            $('#datetimepicker-end').datetimepicker({
                useCurrent: false,
                // format: 'DD.MM.YYYY - HH:mm:00',
                // locale: 'de',
            });

            $("#datetimepicker-start").on("change.datetimepicker", function (e) {
                $('#datetimepicker-end').datetimepicker('minDate', e.date);
            });

            $("#datetimepicker-end").on("change.datetimepicker", function (e) {
                $('#datetimepicker-start').datetimepicker('maxDate', e.date);
            });


        });

        // Hiermit wechselt der Kalender automatisch von der Datumsansicht zur Zeitansicht.
        // $(function () {
        //     let $pickerStart = $("#datetimepicker-start");
        //     $pickerStart.on("change.datetimepicker", function (e) {
        //         if (!e.oldDate && $pickerStart.datetimepicker('useCurrent')) {
        //             return;
        //         } else if (
        //             e.oldDate &&
        //             e.date &&
        //             (e.oldDate.format('YYYY-MM-DD') === e.date.format('YYYY-MM-DD'))
        //         ) {
        //             return;
        //         }
        //
        //         setTimeout(function () {
        //             $('#datetimepicker-start-div [data-action="togglePicker"]').click();
        //         }, 300);
        //     });
        //
        //     let $pickerEnd = $("#datetimepicker-end");
        //     $pickerEnd.on("change.datetimepicker", function (e) {
        //         if (!e.oldDate && $pickerEnd.datetimepicker('useCurrent')) {
        //             return;
        //         } else if (
        //             e.oldDate &&
        //             e.date &&
        //             (e.oldDate.format('YYYY-MM-DD') === e.date.format('YYYY-MM-DD'))
        //         ) {
        //             return;
        //         }
        //         if (!(e.oldDate === null || e.oldDate === undefined)) {
        //             setTimeout(function () {
        //                 $('#datetimepicker-end-div [data-action="togglePicker"]').click();
        //             }, 300);
        //         }
        //     });
        // });

        // Wird der Start-Kalender geschlossen, wird das Datum zum End-Kalender kopiert und er wird geöffnet.
        // Aber nur wenn im End-Kalender noch kein Datum gesetzt ist.
        $("#datetimepicker-start").on("hide.datetimepicker", ({date, oldDate}) => {
            // console.log("Picker wurde geschlossen:", date);
            if ($('#datetimepicker-end').val().length === 0) {
                $('#datetimepicker-end').val($('#datetimepicker-start').val())
            }

            // ansonnsten schließt sich der DateTimePicker gleich wieder. (Doppelklick)
            if ($(":focus").length > 0) {
                $('#datetimepicker-end').click();
            }
        });

        // Wird der End-Kalender geschlossen und es sind Daten enthalten, wird die Seite mit den neuen Daten aufgerufen
        $("#datetimepicker-end").on("hide.datetimepicker", ({date, oldDate}) => {
            if ($('#datetimepicker-start').data("datetimepicker").date() !== null &&
                $('#datetimepicker-end').data("datetimepicker").date() !== null
            ) {
                $('#isDate').val('true');
                this.updateTheView();
            }
        });

        // Gibt das Datum in Unix-Datumszahl zurück
        function getSelectedDate() {
            let resultDate = {unixStartDate: -1, unixEndDate: -1};

            if ($('#isDate').val() === 'true'  &&
                $('#datetimepicker-start').data("datetimepicker").date() !== null &&
                $('#datetimepicker-end').data("datetimepicker").date() !== null
            ) {
                resultDate.unixStartDate = ($('#datetimepicker-start').data("datetimepicker").date()).unix();
                resultDate.unixEndDate = ($('#datetimepicker-end').data("datetimepicker").date()).unix();
            }

            return resultDate;
        };

        // Gibt ein Datumsstring im Format 'DD.MM.YYYY HH:mm:ss' zurück
        function getDateTimeForUnix(unix) {
            let date = new Date(unix * 1000);
            let resultDate = date.getDate().toString().length > 1
                ? date.getDate().toString()
                : '0' + date.getDate().toString();

            resultDate += '.';
            resultDate +=  (date.getMonth() + 1).toString().length > 1
                ? (date.getMonth() + 1).toString()
                : '0' + (date.getMonth() + 1).toString();

            resultDate += '.';
            resultDate += date.getFullYear();
            resultDate += ' ';
            resultDate += date.getHours().toString().length > 1
                ? date.getHours().toString()
                : '0' + date.getHours().toString();

            resultDate += ':';
            resultDate += date.getMinutes().toString().length > 1
                ? date.getMinutes().toString()
                : '0' + date.getMinutes().toString();

            resultDate += ':';
            resultDate += date.getSeconds().toString().length > 1
                ? date.getSeconds().toString()
                : '0' + date.getSeconds().toString();

            return resultDate;
        };

        function clearDate() {
            $('#datetimepicker-start').val('');
            $('#datetimepicker-end').val('');
            $('#isDate').val('false');
            this.updateTheView();
        }

        window.onload = function () {
            console.log('Filter "Type" wird nachgeladen');
            $.post(
                "/logs/filterType/", {
                    off : '#{viewData.parameterForJS.offset}',
                    limit : '#{viewData.parameterForJS.limit}',
                    type : '#{viewData.parameterForJS.type}',
                    tag : '#{viewData.parameterForJS.tag}',
                    shortDescription : '#{viewData.parameterForJS.shortDescription}',
                    description : '#{viewData.parameterForJS.description}',
                    startDate : '#{viewData.parameterForJS.startDate}',
                    endDate : '#{viewData.parameterForJS.endDate}',
                }, function (data) {
                    console.log(data);
                    if (data.successful) {

                        document.getElementById("type").options[0] = new Option("", '-1');

                        if (!(data.type === undefined) && data.type.length > 0) {
                            for (let i = 0; i < data.type.length; i++) {
                                if ('#{viewData.parameterForJS.type}' === data.type[i].type) {
                                    document.getElementById("type").options[i + 1]
                                        = new Option(data.type[i].type, data.type[i].type);

                                    document.getElementById("type").selectedIndex = i + 1;
                                } else {
                                    document.getElementById("type").options[i + 1]
                                        = new Option(data.type[i].type, data.type[i].type);
                                }
                            }
                        }
                    } else {
                        console.log(data.messages);
                    }
                }
            )
            console.log('Filter "Tag" wird nachgeladen');
            $.post(
                "/logs/filterTag/", {
                    off : '#{viewData.parameterForJS.offset}',
                    limit : '#{viewData.parameterForJS.limit}',
                    type : '#{viewData.parameterForJS.type}',
                    tag : '#{viewData.parameterForJS.tag}',
                    shortDescription : '#{viewData.parameterForJS.shortDescription}',
                    description : '#{viewData.parameterForJS.description}',
                    startDate : '#{viewData.parameterForJS.startDate}',
                    endDate : '#{viewData.parameterForJS.endDate}',
                }, function (data) {
                    console.log(data);
                    if (data.successful) {

                        document.getElementById("tag").options[0] = new Option("", '-1');

                        if (!(data.tag === undefined) && data.tag.length > 0) {
                            for (let i = 0; i < data.tag.length; i++) {
                                if ('#{viewData.parameterForJS.tag}' === data.tag[i].tag) {
                                    document.getElementById("tag").options[i + 1]
                                        = new Option(data.tag[i].tag, data.tag[i].tag);

                                    document.getElementById("tag").selectedIndex = i + 1;
                                } else {
                                    document.getElementById("tag").options[i + 1]
                                        = new Option(data.tag[i].tag, data.tag[i].tag);
                                }
                            }
                        }
                    } else {
                        console.log(data.messages);
                    }
                }
            )
            // Für Tooltips
            $('[data-toggle="tooltip"]').tooltip();
        }

