mixin URLmodal(id, data, isImageActive, _pnr, newImage)
    - if (data === undefined) { data = {p_nr: _pnr,url: '',pos: '',}}
    - if (isImageActive === 1) isImageActive = true
    div.modal(tabindex='-1' role='dialog' id='modal_' + id aria-labelledby='label_' + id aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    if (newImage)
                        h5.modal-title(id='label_' + id) Bild hinzufügen
                    if (!newImage)
                        h5.modal-title(id='label_' + id) Bild bearbeiten

                    button.close(type='button' data-dismiss="modal" aria-label='Close')
                        span(aria-hidden="true") &times;
                div.modal-body.w-100
                    div.container
                        div.w-100
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_p_nr_span' + id) Produktnummer
                                input.disabled.form-control(id='image_p_nr_input' + id type='text', value=data.p_nr disabled)
                        div.w-100(id='image_url')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_url_span' + id) Link
                                input.disabled.form-control(id='image_url_input' + id type='text', value=data.image_url)
                        if (!newImage)
                            div.w-100(id='image_pos')
                                div.input-group.mb-3
                                    div.input-group-append.w-25
                                        span.input-group-text.w-100(id='image_pos_span' + id) Position
                                    input.disabled.form-control(id='image_pos_input' + id type='text', value=data.image_pos)

                            div.w-100(id='image_active')
                                div.input-group.mb-3
                                    div.input-group-append.w-25
                                        label.input-group-text.w-100(for="selection_" + id) ist Aktiv
                                    select.custom-select(id="image_active_selection" + id)
                                        option(value='0', selected=!isImageActive) nein
                                        option(value='1', selected=isImageActive) ja

                            div.w-100(id='image_behave')
                                div.input-group.mb-3
                                    div.input-group-append.w-25
                                        label.input-group-text.w-100(for="image_behave_selection" + id) verhalten
                                    select.custom-select(id="image_behave_selection" + id)
                                        option(value='0', selected=true) Bild mit neuer Position austauschen
                                        option(value='1', selected=false) Bild nach neuer Position verschieben

                div.modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Beenden
                    if (!newImage)
                        button.btn.btn-primary(type='button' onclick= `saveURL(${data.id},${data.p_nr},${data.image_pos})`) Speichern
                    if (newImage)
                        button.btn.btn-primary(type='button' onclick= `saveNewURL(${id}, ${data.p_nr})`) Anlegen
