mixin NewChannelModal()
    div.modal(tabindex='-1' role='dialog' id='modal_0' aria-labelledby='label_0' aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title(id='label_0') neuen Kanal erstellen
                    button.close(type='button' data-dismiss="modal" aria-label='Close' onclick= `cancelChannelCreation()`)
                    span(aria-hidden="true") &times;
                div.modal-body.w-100
                    div.container
                        div.w-100
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_name_span0') Name
                                input.form-control(id='channel_name_input0' type='text', value=null)
                        div.w-100(id='channel_key')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_key_span0') Schlüssel
                                input.form-control(id='channel_key_input0' type='text', value=null)
                        div.w-100(id='channel_is_active')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    label.input-group-text.w-100(for="selection_0") ist Aktiv
                                select.custom-select(id="channel_is_active_selection0")
                                    option(value='0', selected=true) nein
                                    option(value='1') ja
                        div.w-100(id='channel_surcharge')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_surcharge_span0') Aufschlag
                                input.form-control(id='channel_surcharge_input0' type='text', value=0)
                        div.w-100(id='image_type')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_type_span0') Image Typ (TB)
                                input.form-control(id='channel_type_input0' type='text', value=null)
                        div.w-100(id='stock')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='stock_span0') Zugeordnetes Lager (TB)
                                input.form-control(id='stock_input0' type='text', value=null)
                        div.w-100(id='image_width')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_width_span0') Min. Breite für Bilder
                                input.form-control(id='image_width_input0' type='text', value=null)
                        div.w-100(id='image_height')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_height_span0') Min. Höhe für Bilder
                                input.form-control(id='image_height_input0' type='text', value=null)

                div.modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal' onclick= `cancelChannelCreation()`) Abbrechen
                    button.btn.btn-primary(type='button' onclick= `saveNewChannel()`) Speichern