mixin URLmodal(p_nr, p_nr_image)
    div.modal(tabindex='-1' role='dialog' id='modal_delete_product_image_link' aria-labelledby='label_' + id aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title(id='label_' + id) Verknüpfung löschen

                    button.close(type='button' data-dismiss="modal" aria-label='Close')
                        span(aria-hidden="true") &times;
                div.modal-body.w-100
                    div.container
                        div.row
                            div.form-control.text-light.bg-danger.p-1.text-center='!!! Wichtig !!!'
                        div.row
                            div.text-left='Karl importiert die Verknüpfungen wieder, deshalb sollte die Fotoverlinkung zuerst in Lynn gelöscht werden.'
                div.modal-footer.w-100
                    div.w-75
                        span Soll die Verlinkung wirklich aufgehoben werden?
                    div.w-25
                        button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal') Beenden
                        button.btn.btn-primary(
                            id='deleteImageLink'
                            type='button'
                            onclick= `deleteImageLink(${p_nr},${p_nr_image})`
                            ) Löschen
