mixin Channelmodal(key, data)
    div.modal(tabindex='-1' role='dialog' id='modal_' + key aria-labelledby='label_' + key aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                        h5.modal-title(id='label_' + key) Kanal bearbeiten
                        button.close(type='button' data-dismiss="modal" aria-label='Close' onclick= `cancelChannelEditing('${key}', ${data.channel_is_active}, ${data.image_height}, ${data.image_width})`)
                        span(aria-hidden="true") &times;
                div.modal-body.w-100
                    div.container
                        div.w-100
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_name_span' + key) Name
                                input.disabled.form-control(id='channel_name_input' + key type='text', value=data.channel_name disabled)
                        div.w-100(id='channel_key')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_key_span' + key) Schlüssel
                                input.disabled.form-control(id='channel_key_input' + key type='text', value=data.channel_key disabled)
                        div.w-100(id='channel_is_active')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    label.input-group-text.w-100(for="selection_" + key) ist Aktiv
                                select.custom-select(id="channel_is_active_selection" + key)
                                    option(value='0', selected=!data.channel_is_active) nein
                                    option(value='1', selected=data.channel_is_active) ja
                        div.w-100(id='channel_surcharge')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_surcharge_span' + key) Aufschlag
                                input.disabled.form-control(id='channel_surcharge_input' + key type='text', value=data.channel_surcharge disabled)
                        div.w-100(id='image_type')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='channel_type_span' + key) Image Typ (TB)
                                input.disabled.form-control(id='channel_type_input' + key type='text', value=data.image_type disabled)
                        div.w-100(id='stock')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='stock_span' + key) Zugeordnetes Lager (TB)
                                input.disabled.form-control(id='stock_input' + key type='text', value=data.stock disabled)
                        div.w-100(id='image_width')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_width_span' + key) Min. Breite für Bilder
                                input.form-control(id='image_width_input' + key type='text', value=data.image_width)
                        div.w-100(id='image_height')
                            div.input-group.mb-3
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='image_height_span' + key) Min. Höhe für Bilder
                                input.form-control(id='image_height_input' + key type='text', value=data.image_height)

                div.modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal' onclick= `cancelChannelEditing('${key}', ${data.channel_is_active}, ${data.image_width}, ${data.image_height})`) Abbrechen
                    button.btn.btn-primary(type='button' onclick= `saveChannel('${key}')`) Speichern
