mixin URLmodal(id, data)
    div.modal(tabindex='-1' role='dialog' id='modal_component_' + id aria-labelledby='label_' + id aria-hidden="true")
        div.modal-dialog.modal-dialog-centered(role='document' andy='test' style='max-width: 1177px')
            div.modal-content
                div.modal-header
                    h5.modal-title Hier werden die Componenten angezeigt
                    button.close(type='button' data-dismiss="modal" aria-label='Close')
                        span(aria-hidden="true") &times;
                each currentCompSet in data.comp
                    div.modal-body.w-100.pt-0.pb-0.mt-0.mb-0
                        div.container
                            div.w-100
                                div.input-group.mb-3
                                    div.input-group-append.w-25
                                        span.input-group-text.w-100=currentCompSet.key + ' (' + currentCompSet.language + ')'
                                    textarea.disabled.form-control=currentCompSet.value
                div.modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Schließen
