div.modal(id='modal_wait' data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
        div.modal-content
            div.modal-header
                h5.modal-title(id='staticBackdropLabel') Bitte warten ...


