div(onclick='openModal("' + infoboxNr + '", ' + infoboxType + ')').infoboxButtonDiv
    // Zeigt an ob Daten vorhanden sind.
    if (isAvailable)
        svg(id=infoboxType + '-' + infoboxNr
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-toggle="tooltip"
            data-original-title=infoText
            ).bi.bi-app-indicator.infoboxButton.isAvailable
            path(fill-rule="evenodd" d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z")
            path(d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
    else
        svg(id=infoboxType + '-' + infoboxNr
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-toggle="tooltip"
            data-original-title=''
            ).bi.bi-app-indicator.infoboxButton
            path(fill-rule="evenodd" d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z")
            path(d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")

