div(tabindex="-1" role="dialog" id='modalInfobox').modal.fade
    div(role="document").modal-dialog
        div.modal-content
            div.modal-header
                h5.modal-title(id="infoboxTitle")
                button(type="button" data-dismiss="modal" aria-label="Close" onclick='clearTextArea()').close
                    span(aria-hidden="true") &times;
                input(type="hidden", id="infoboxNr")
                input(type="hidden", id="infoboxType")
            div(id="infoboxTextarea").modal-body
                // TextArea wird übe JS eingefügt
            div.modal-footer
                label(id='infoboxErrorLabel').infoboxErrorLabel
                button(id='infoboxSaveButton' type="button" onclick='saveInfobox()').btn.btn-primary speichern
                button(type="button" onclick='clearTextArea()' data-dismiss="modal").btn.btn-secondary schließen

