.articleBox {
    float: left;
    padding: 20px;
    background: #deecee;
    height: available;
    min-height: 800px;
    width: 50%;
}

.productBox {
    float: left;
    padding: 20px;
    background: #adbdee;
    height: available;

    min-height: 800px;
    width: 50%;
}

.articlePanel {
    height: 100%;
    width: 100%;
}