if (currentImagesSet.imageOwner.p_nr !== data.product.p_nr && currentImagesSet.images.length >= 1)
    -show=1
    if (currentImagesSet.images.length > 1)
        -text = 'Diese Bilder gehören dem Produkt '
    else if (currentImagesSet.images.length === 1)
        -text = 'Das Bild gehört dem Produkt '
    if (currentImagesSet.imageOwner.productData === null)
        -show=0
        -text = 'Das Produkt für diese(s) Bild(er) ist/ sind gelöscht. '
    -productDataP_nr=0
    if (currentImagesSet.imageOwner.productData !== null)
        -productDataP_nr=currentImagesSet.imageOwner.productData.p_nr
    -usedImagesP_nr=data.usedImagesP_nr
    div.container-fluid
        div.row
            if (show===1)
                div.col-md-6.ct-description-flex
                    p=text
                        button.btn.btn-sm.btn-outline-success(
                            onclick='changeProduct(' + productDataP_nr + ')'
                            data-toggle="tooltip"
                            data-original-title='Öffnet die Produktansicht von ' + currentImagesSet.imageOwner.productData.p_name
                        )=currentImagesSet.imageOwner.productData.p_name

                    p.ct-padding-left='vom Hersteller:'
                    b.ct-padding-left=currentImagesSet.imageOwner.productData.p_brand
                    p.ct-padding-left='mit der Produktnummer: '
                    b.ct-padding-left=productDataP_nr

                div.col-md-3.text-center
                    p.text-danger.h3='!!! ACHTUNG !!!'

                div.col-md-3.text-right
                    include ../modals/modal_delet_product_image_link
                    p='Bilderverknüpfung aufheben '
                        span(
                            data-toggle='tooltip'
                            data-placement='top'
                            data-original-title='Löscht die Bilderverknüpfung zum Produkt ' + currentImagesSet.imageOwner.productData.p_name
                        )
                            button.btn.btn-sm.btn-danger(
                                id='btn_' + productDataP_nr
                                data-target='#modal_delete_product_image_link'
                                data-toggle='modal'
                            ) entlinken
                            +URLmodal(data.product.p_nr, productDataP_nr)
            else
                div.col-md-6.ct-description-flex
                    p=text
if (currentImagesSet.images.length >= 1)
    // Benutzte Bilder Url werden farblich gekennzeichnet, da stört "table-striped".
    table.table.table-sm.table-bordered.table-hover.w-100(class=usedImagesP_nr === productDataP_nr || productDataP_nr === 0 ? "": "table-striped")
        thead
            th(scope='col') Vorschau
            th(scope='col') Format
            th(scope='col') URL

            each channel in channelTypeValue
                th(scope='col'
                    data-toggle="tooltip"
                    title='Die Mindestmaße für Bilder von ' + channel.name + ' sind: (HxB) '
                    + channel.height + 'x' + channel.width + '.'
                    )=channel.name

            th(scope='col') Pos
            th(scope='col' )
                div.form-check
                    if currentImagesSet.imageOwner.owner
                        input.form-check-input(type='checkbox'
                            id='allImageInterface'
                            checked=currentImagesSet.imageData.allChecked
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="alle de/aktivieren"
                            onclick='updateActiveState(' + data.product.p_nr + ')')
                    label.form-check-label(for='allImageInterface') Aktiv

            if currentImagesSet.imageOwner.owner
                th.text-center(scope='col')
                    div
                        include ../modals/modal_edit_image_url
                        - ids = currentImagesSet.imageData.pnr
                        button.btn.btn-sm.btn-outline-secondary(
                            id='btn_' + ids
                            data-toggle='modal'
                            data-target='#modal_' + ids
                        ) Neu
                        +URLmodal(ids, val, true, currentImagesSet.imageData.pnr, true)

        tbody
            each image in currentImagesSet.images
                // Hier werden die benutzen Bilder gekennzeichnet
                // tr(class=usedImagesP_nr === productDataP_nr && image.imageData.is_active ? "info ct-used-image-url": "")
                tr(class=image.imageData.is_active ? "info ct-used-image-url": "")
                    td(scope='row')
                        img.ct-img-thumbnail(src="" + image.imageData.image_url + "" alt="Der Link ist nicht erreichbar" onclick="window.open('" + image.imageData.image_url + "', '_blank');")
                    td(scope='row')=image.imageData.height + 'x' + image.imageData.width
                    td(scope='row' align="left" valign="middle")
                        a(onclick="window.open('" + image.imageData.image_url + "', '_blank');")= image.imageData.image_url

                    case image.imageData.is_active && currentImagesSet.imageOwner.owner
                            when true
                                - activeRow = true
                                include product_image_channel

                                td.text-center(scope='row')=image.imageData.image_pos
                            when false
                                - activeRow = false
                                include product_image_channel

                                td.text-center.text-black-50(scope='row')=image.imageData.image_pos

                    case image.imageData.is_active
                        when true
                            td.text-center(scope='row') ja
                        when false
                            td.text-center.text-black-50(scope='row') nein

                    if currentImagesSet.imageOwner.owner
                        td
                            div.container.text-center
                                include ../modals/modal_edit_image_url
                                - ids = image.imageData.id
                                button.btn.btn-sm.btn-outline-secondary(
                                    id='btn_'+ids
                                    data-toggle='modal'
                                    data-target='#modal_'+ids
                                ) Edit
                                +URLmodal(ids, image.imageData, image.imageData.is_active, false)
