doctype html
html(lang = 'de')
    head
        style
            include ../css/css.css
        include ../head
    body
        include ../navigation
        br
        div.row
            div.col-lg-4
            div.col-lg-4
                div.input-group
                    input.form-control(type='text'
                        id='productInputSearch'
                        aria-describedby="button-addon2"
                        placeholder="MPN, Karl-ProduktId, MediaId oder Bildername"
                        aria-label="MPN, Karl-ProduktId, MediaId oder Bildername")
                    span.input-group-append
                        button.btn.btn-outline-success.my-2.my-sm-0(type='button' id="button-addon2" onclick="productSearch()") Suche!
        if mpn !== ''
            p.h3.text-center.pt-5='Ergebnis für: ' + mpn
            if data.itm.isData || data.karl.isData
                div.container-fluid
                    br
                    if data.itm.isData
                        p.h3.text-center.pt-2='aus Shopware'
                        table(class='table table-sm table-striped table-bordered table-hover')
                            thead
                                th(scope='col' class='' style='width: 110px;') ProduktNr
                                th(scope='col' class='w-25') Produktname
                                th(scope='col' class='w-auto') Marke
                                th(scope='col' class='center' style='width: 30px;') 3rd
                                th(scope='col' class='w-50') Beschreibung
                                th.text-center(scope='col' style='width: 50px;') Control
                            tbody
                                each val in data.itm
                                    tr.info()
                                        td(scope='row')
                                            div(class='text-muted')= val.p_nr
                                        td(scope='row')=val.p_name
                                        td(scope='row')=val.p_brand
                                        if (val.p_3_rd === 'ja')
                                            td.table-warning(scope='row')
                                                span.badge.center()=val.p_3_rd
                                        else
                                            td(scope='row')
                                                span.badge.center()=val.p_3_rd
                                        td(scope='row')=val.p_text_de
                                        td(scope='row' style='width=10')
                                            button.btn.btn-secondary.btn-sm(type='button' id=val.p_nr onclick="switch2Overview(this)") Overview
                    if data.karl.isData
                        p.h3.text-center.pt-2='aus Karl'
                        table(class='table table-sm table-striped table-bordered table-hover')
                            thead
                                th(scope='col' class='' style='width: 110px;') ProduktNr
                                th(scope='col' class='w-15') Produktname
                                th(scope='col' class='w-15') Artikel
                                th(scope='col' class='w-auto') Marke
                                th(scope='col' class='center' style='width: 30px;') 3rd
                                th(scope='col' class='w-50') Beschreibung
                                th.text-center(scope='col' style='width: 50px;') Control
                            tbody
                                each val in data.karl
                                    tr.info()
                                        td(scope='row')
                                            div(class='text-muted')= val.p_nr
                                        td(scope='row')=val.p_name
                                        td(scope='row')
                                            each article in val.articles
                                                if article.active
                                                    div.float-left=article.text
                                                    each channel in article.channelData
                                                        if channel.active
                                                            div.text-success.float-left.ml-1=channel.name
                                                        else
                                                            div.text-danger.float-left.ml-1=channel.name
                                                    div.float-none='.'
                                                else
                                                    div.text-danger=article.text + ' alle Channel deaktiviert'
                                        td(scope='row')=val.p_brand
                                        if (val.p_3_rd === 'ja')
                                            td.table-warning(scope='row')
                                                span.badge.center()=val.p_3_rd
                                        else
                                            td(scope='row')
                                                span.badge.center()=val.p_3_rd
                                        td(scope='row')=val.p_text_de
                                        td(scope='row' style='width=10')
                                            button.btn.btn-secondary.btn-sm(type='button' id=val.p_nr onclick="switch2Overview(this)") Overview
            else
                div(id='divProductImport').container-fluid
                    p.h3.text-center.pt-5='Keine Daten gefunden.'
                    p.text-center.pt-5='Wenn du die PNr weißt, kann ich das Produkt für dich importieren.'
                    br
                    div.row
                        div.col-lg-4
                        div.col-lg-4
                            div.input-group
                                input.form-control(type='text'
                                    id='productInputImport'
                                    aria-describedby="button-import"
                                    placeholder="Karl-ProduktId"
                                    aria-label="Karl-ProduktId")
                                span.input-group-append
                                    button.btn.btn-outline-success.my-2.my-sm-0(type='button' id="button-import" onclick="productImport()") Importieren!

                div(id='divGetProductData').container-fluid.d-none
                    p.h3.text-center.pt-5='Daten werden von Lynn geholt.'



script.
    function productSearch(){
        let val = document.getElementById('productInputSearch').value;
        if (val.trim().length > 0)
            window.document.location.href ='/product/search/' + val;
    }
script.
    function productImport(){
        let val = document.getElementById('productInputImport').value;
        if (val.trim().length > 0)
            downloadProductData(val);
    }
script.
    function switch2Overview(args){
        window.document.location.href ='/product/overview/' + args.id;
    }

    // Löst die Suche mit der Enter-Taste aus
    $(document).ready(function () {
        $('#productInputSearch').keypress(function (e) {
            if (e.keyCode === 13)
                $('#button-addon2').click();
        });
    });

    document.getElementById("productInputSearch").focus();