table.table.table-sm.table-striped.table-bordered.table-hover.w-100
    thead
        th(scope='col') Key
        th.text-center(scope='col') Value
        th.text-center(scope='col') Control
    tbody
        each val in data.comp
            tr(class='info')
                td(scope='row')= val.key
                td.text-center(scope='row')= val.val
                td.text-center(scope='row')
                    button.btn.btn-sm.btn-outline-secondary(
                        disabled
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="keine Funktion"
                    ) Edit
