if (activeRow)
    -disabledValue = false
else
    -disabledValue = true

each channel in channelTypeValue
    if (image.imagesChannelData[channel.key])
        -checkedCondition = true
        -titleValue = "ist aktiviert für "
    else
        -checkedCondition = false
        -titleValue = "ist deaktiviert für "

    td.text-center(scope='row')
        div.form-check
            input.form-check-input(
                type='checkbox'
                id=image.imageData.id + '_' + image.imageData.image_pos + '_' + channel.key
                checked=checkedCondition
                data-toggle="tooltip"
                title=titleValue + channel.name
                onclick="updateImageActiveForChannel(" + data.product.p_nr + "," + image.imageData.id + ",'" + channel.key + "'," + !checkedCondition + ")"
                disabled=disabledValue
                )
