div.row.border
    div.col-xs-4.w-100
        div.ct-cardStyle.card.border-dark
            // Die eigenen Bilder sollen immer zuerst angezeigt werden
            each currentImagesSet in data.product.imagesSet
                if (currentImagesSet.imageOwner.p_nr === data.product.p_nr)
                    include product_image_container

            each currentImagesSet in data.product.imagesSet
                if (currentImagesSet.imageOwner.p_nr !== data.product.p_nr)
                    include product_image_container

