doctype html
html(lang = 'de')
    head
        include ../head
    body
        include ../navigation
        include ../infobox/infobox
        include ../modals/wait
        div.container-fluid
            div.row.border
                div.col-xs-4.w-50
                    div.w-100
                        h5.text-center Produkt
                    div.ct-cardStyle.card.border-dark
                        div.w-100.ct-buttonLynnDiv
                            include ./button_download
                            span.ct-lynnLabel.float-lg-right von Lynn
                        div.w-100.ct-padding(id='p_nr')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_nr_input') Produktnummer
                                input.disabled.form-control(type='text', value=data.product.p_nr, disabled)
                                - infoboxType = 0;
                                - infoboxNr = data.product.p_nr;
                                - isAvailable = infoboxData.product.infoboxHasData;
                                - infoText = infoboxData.product.infoText;
                                include ../infobox/button_infobox

                        div.w-100.ct-padding(id='p_name')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_name_input') MPN
                                input.disabled.form-control(type='text', value=data.product.p_name, disabled)
                        div.w-100.ct-padding(id='p_text_de')
                            div.input-group.h-auto
                                div.input-group-append.w-25.h-auto
                                    span.input-group-text.w-100(id='p_text_de_input') Beschreibung
                                textarea.form-control.z-depth-1(disabled)= data.product.p_text_de
                        div.w-100.ct-padding(id='p_text_ee')
                            div.input-group.h-auto
                                div.input-group-append.w-25.h-auto
                                    span.input-group-text.w-100(id='p_text_ee_input') Description
                                textarea.form-control.z-depth-1(disabled)= data.product.p_text_ee
                        div.w-100.ct-padding(id='p_brand')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_brand_input') Marke
                                input.form-control(type='text', value=data.product.p_brand, disabled)
                        div.w-100.ct-padding(id='p_brand_key')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_brand_key_input') Marken ID
                                input.form-control(type='text', value=data.product.p_brand_key, disabled)
                        div.w-100.ct-padding(id='p_cat_name')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_cat_name_input') Kategorie
                                input.form-control(type='text', value=data.product.p_cat_name + ' (' + data.product.p_cat_key + ')', disabled)
                        div.w-100.ct-padding(id='p_3_rd')
                            div.input-group
                                div.input-group-append.w-25
                                    label.input-group-text.w-100(for="inputGroupSelect01") ist 3rd-Party
                                select.custom-select(id="inputGroupSelect01", disabled)
                                    option(value='0', selected=!data.product.p_3_rd) nein
                                    option(value='1', selected=data.product.p_3_rd) ja
                        div.w-100.ct-padding(id='p_keyword_1')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_keyword_1_input') Keyword 1
                                input.form-control(type='text', value=data.product.p_keyword1, disabled)
                        div.w-100.ct-padding(id='p_keyword_2')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_keyword_2_input') Keyword 2
                                input.form-control(type='text', value=data.product.p_keyword2, disabled)
                        div.w-100.ct-padding(id='p_keyword_3')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_keyword_3_input') Keyword 3
                                input.form-control(type='text', value=data.product.p_keyword3, disabled)
                        div.w-100.ct-padding(id='p_weight')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_weight_input') Gewicht
                                input.form-control(type='text', value=data.product.p_weight + ' kg', disabled)
                        div.w-100.ct-padding(id='p_create')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_create_info') In Karl Angelegt
                                input.form-control(type='text', value=data.product.p_createdAt, disabled)
                        div.w-100.ct-padding(id='p_update')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_update_info') Letzte Änderung
                                input.form-control(type='text', value=data.product.p_updatedAt, disabled)
                        div.w-100.ct-padding(id='p_component_key')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100(id='p_component_key_input') Componenten
                                    include ../modals/modal_component
                                button.btn.w-75.btn-outline-secondary(
                                    id='btn_' + data.product.p_nr
                                    data-toggle='modal'
                                    data-target='#modal_component_' + data.product.p_nr
                                    ) In Fenster anzeigen
                                +URLmodal(data.product.p_nr, data)
                        div.w-100.ct-padding(id='p_blocks')
                            div.input-group
                                div.input-group-append.w-25
                                    span.input-group-text.w-100() Sperren
                                div.btn-group.w-75
                                    case data.product.p_import_lock
                                        when true
                                            button.btn.w-25.btn-warning(type='type' onclick='switchProductLock('+data.product.p_export_lock+','+!data.product.p_import_lock+','+data.product.p_nr+')') IMPORTSPERRE
                                        when false
                                            button.btn.w-25.btn-outline-secondary(type='type' onclick='switchProductLock('+data.product.p_export_lock+','+!data.product.p_import_lock+','+data.product.p_nr+')') IMPORTSPERRE
                                    case data.product.p_export_lock
                                        when true
                                            button.btn.w-25.btn-warning(type='type' onclick='switchProductLock('+!data.product.p_export_lock+','+data.product.p_import_lock+','+data.product.p_nr+')') EXPORTSPERRE
                                        when false
                                            button.btn.w-25.btn-outline-secondary(type='type'
                                                onclick='switchProductLock('+!data.product.p_export_lock+','+data.product.p_import_lock+','+data.product.p_nr+')') EXPORTSPERRE

                        //include ../sticky/sticky_infobox_button

                        //include product_image
                    //include product_comp
                include ../article/articles
            include product_image
script.
    function switchProductLock(exportLock, importLock, p_nr) {
        $('#modal_wait').modal({
            keyboard: true,
            backdrop: true,
            show: true,
        });

        $.post(
            "/api/product/lock", {
                exportLock: exportLock,
                importLock: importLock,
                p_nr:p_nr
            }, function (data) {
                if (data) {
                    window.document.location.href = '/product/overview/' + p_nr
                }
            }
        )
    }
script.
    function configureComponents(p_nr) {
        window.document.location.href = '/product/components/' + p_nr
    }