<!-- Modal -->
    div.modal.fade(tabindex='-1' role='dialog' id='modal_OrderDataDetailOneView' aria-labelledby='exampleModalLongTitle' aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title(id='label_' + id) Auftragsdaten
                        label(id='controlLabel') ACHTUNG!!! JavaScript ist abgebrochen
                    button.close(type='button' data-dismiss="modal" aria-label='Close')
                        span(aria-hidden="true") &times;
                div.modal-body.w-100.general

                    div.float-left
                        div(id='container_orderData').part1
                            label ORDER_DATA
                            table(id="table_orderData").table.table-sm.table-hover.table-striped.table-bordered

                        div(id='container_shipments').part1
                            label SHIPMENT
                            table(id="table_shipments").table.table-sm.table-hover.table-striped.table-bordered

                    div(id='container_sellTos').part1.float-left
                        label SELL_TO
                        table(id="table_sellTos").table.table-sm.table-hover.table-striped.table-bordered

                    div(id='container_shipTos').part1.float-left
                        label SHIP_TO
                        table(id="table_shipTos").table.table-sm.table-hover.table-striped.table-bordered

                    div(id='container_items').part1.float-left
                        label ITEMS
                        table(id="table_items").table.table-sm.table-hover.table-striped.table-bordered

                    div(id='container_payments').part1.float-left
                        label PAYMENT
                        table(id="table_payments").table.table-sm.table-hover.table-striped.table-bordered

                    div.float-left.multipleTableDiv
                        div(id='container_references').part1
                            label REFERENCES
                            table(id="table_references").table.table-sm.table-hover.table-striped.table-bordered.horizontal

                        div(id='container_histories').part1
                            label HISTORY
                            table(id="table_histories").table.table-sm.table-hover.table-striped.table-bordered.horizontal

                        div(id='container_services').part1
                            label SERVICES
                            table(id="table_services").table.table-sm.table-hover.table-striped.table-bordered.horizontal

                //div.modal-footer.stickyBottom
                //    button.btn.btn-secondary(type='button' data-dismiss='modal') Schließen
