<!-- Modal -->
div.modal.fade(tabindex='-1' role='dialog' id='modal_OrderDetailMenu' aria-labelledby='exampleModalLongTitle' aria-hidden="true")
    div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
        div.modal-content
            div.modal-header
                h5.modal-title(id='label_' + id) Daten aus Tradebyte
                button.close(type='button' data-dismiss="modal" aria-label='Close')
                    span(aria-hidden="true") &times;

            div
                div.ct-screen
                    div(id='screenLeft').float-left.p-1.card.border-dark.ct-leftMenu

                        div.wrapper
                                <!-- Sidebar -->
                                    nav(id='sidebar')
                                        div.sidebar-header
                                            //h3 Bootstrap Sidebar
                                        ul.list-unstyled.components
                                            p Bitte wähle aus
                                            li.active
                                                a(
                                                    href='#addressSubmenu'
                                                    data-toggle='collapse'
                                                    aria-expanded='false'
                                                    ).dropdown-toggle Adresse
                                                ul(id="addressSubmenu").collapse.list-unstyled
                                                    li
                                                        span(onclick='viewContactAddress()').ct-subMenu.ct-naviSelect Kontaktadressen
                                                    li
                                                        span(onclick='viewDeliveryAddress()').ct-subMenu.ct-naviSelect Lieferdressen
                                                //button(onclick='viewAddress()').btn.border-dark Adresse
                                            li
                                                p(onclick='console.log("öffnet Menü 1")').ct-naviSelect Menü 1
                                            li
                                                p(onclick='console.log("öffnet Menü 2")') Menü 2
                                            li
                                                p(onclick='console.log("öffnet Menü 3")') Menü 3

                    div(id='screenRight').p-1.card.border-dark.ct-rightMenus
