<!-- Modal -->
    div.modal.fade(tabindex='-1' role='dialog' id='modal_OrderRawData' aria-labelledby='exampleModalLongTitle' aria-hidden="true")
        div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title(id='label_' + id) Auftragsdaten
                        label(id='controlLabel') ACHTUNG!!! JavaScript ist abgebrochen
                    button.close(type='button' data-dismiss="modal" aria-label='Close')
                        span(aria-hidden="true") &times;

                div.modal-body.w-100.general

                    div.accordion(id="accordionExample")
                        div.card
                            div.card-header(id="headingOne")
                                h5.mb-0
                                    button.btn.btn-link(
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    )
                                        Collapsible ORDER_DATA - ITEMS - PAYMENT

                            div.collapse.show(
                                id="collapseOne"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            )
                                div.card-body
                                    Anim
                                        div(id='container_orderData').part1.float-left
                                            label ORDER_DATA
                                            table(id="table_orderData").table.table-sm.table-hover.table-striped.table-bordered

                                        div(id='container_items').part1.float-left
                                            label ITEMS
                                            table(id="table_items").table.table-sm.table-hover.table-striped.table-bordered

                                        div(id='container_payments').part1.float-left
                                            label PAYMENT
                                            table(id="table_payments").table.table-sm.table-hover.table-striped.table-bordered

                        div.card
                            div.card-header(id="headingTwo")
                                h5.mb-0
                                    button.btn.btn-link.collapsed(
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    )
                                        Collapsible SELL_TO - SHIP_TO - SHIPMENT

                            div.collapse(
                                id="collapseTwo"
                                aria-labelledby="headingTwo"
                                data-parent="#accordionExample"
                            )
                                div.card-body
                                    Anim
                                        div(id='container_sellTos').part1.float-left
                                            label SELL_TO
                                            table(id="table_sellTos").table.table-sm.table-hover.table-striped.table-bordered

                                        div(id='container_shipTos').part1.float-left
                                            label SHIP_TO
                                            table(id="table_shipTos").table.table-sm.table-hover.table-striped.table-bordered

                                        div(id='container_shipments').part1
                                            label SHIPMENT
                                            table(id="table_shipments").table.table-sm.table-hover.table-striped.table-bordered

                        div.card
                            div.card-header(id="headingThree")
                                h5.mb-0
                                    button.btn.btn-link.collapsed(
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                    )
                                        Collapsible REFERENCES - HISTORY - SERVICES

                            div.collapse(
                                id="collapseThree"
                                aria-labelledby="headingThree"
                                data-parent="#accordionExample"
                            )
                                div.card-body
                                    Anim
                                        div.float-left.multipleTableDiv
                                            div(id='container_references').part1
                                                label REFERENCES
                                                table(id="table_references").table.table-sm.table-hover.table-striped.table-bordered.horizontal

                                            div(id='container_histories').part1
                                                label HISTORY
                                                table(id="table_histories").table.table-sm.table-hover.table-striped.table-bordered.horizontal

                                            div(id='container_services').part1
                                                label SERVICES
                                                table(id="table_services").table.table-sm.table-hover.table-striped.table-bordered.horizontal
