/* Infobox */
.infoboxButtonDiv {
    padding-left: 11px;
    padding-top: 4px;
}

textarea.infobox {
    width: 100%;
    height: 125px;
}

.infoboxErrorLabel {
    width: 262px;
    color: red;
}

/* Infobox Button zum Aufrufen*/
.isAvailable{
    color: #0075ff;
}

.infoboxButton{
    width: 1em;
    height: 1em;
}