/* Zum Errechnen der Bildschirmhöhe benötigt*/
.ct-divStickyBottom {
    position: fixed;
    bottom: 0px;
}

/* Screen + Menü */
.ct-screen {
    margin: 10px;
}

.ct-leftMenu {
    width: 250px;
    overflow: auto;
}

.ct-rightMenus {
    overflow: auto;
}

.ct-naviSelect {
    text-decoration: underline;
    cursor: pointer;
}

.ct-rawDataCheckbox {
    top: 22px;
    position: absolute;
}

.ct-subMenu {
    position: relative;
    left: 20px;
}