.modal {
    padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.modal .modal-body {
    overflow-y: auto;
}

#controlLabel {
    color: red;
}

.order th.orderHead {
    padding:2px;
    vertical-align:top;
    white-space: nowrap;
    text-align: center;
    width: 54px;
}

.order th.orderHead.id {
    width: 77px;
}

.order th.orderHead.customerComment {
    width: 800px;
}

.order td.orderBody {
    padding:2px 16px;
    text-align: right;
}

.order td.orderBody.orderDate {
    white-space: nowrap;
}

.order td.orderBody.cannelSign {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order td.orderBody.customerComment {
    text-align: left;
   /**
   Der Kommentar soll erstmal umbrechen
   white-space: nowrap;
   */

}


/**  Detailtansicht */

.modal-header {
    padding: 0rem 1rem;
}

#modal_OrderData .table{
    margin-bottom: 0rem;
}

#controlLabel {

}

td.value_orderData {
    width: 13rem;
}

img.imgTooltip {
    display: block;
    margin-left: auto;
    /*margin-right: auto;*/
}

.part1 {
/**    float: left; */
    padding: 1px 16px;
    margin-bottom: 20px;
    background: #eee;
    width: 29rem;
    border-color: #d8d7d7;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
}

textarea {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

/** untere Button */
.stickyBottom{
    position: sticky;
    bottom: 0;
}

.general {
    padding-top: 3px;
}

.multipleTableDiv .part1{
    width: 58rem;
    /** width: auto; */
}

.multipleTableDiv{
    width: 100%;
    /** position: absolute; */
    /** top: 629px; */
    /** left: 30rem; */
}

.part1 td {
    padding: 2px;
}

.part1 label {
    margin: 0px;
    height: 22px;
    color: #e8a62e;
}

.imgTooltip {
    width: 16px;
}

.horizontal .imgTooltip{
    position: relative;
    top: 2px;
}

th {
    height: 17px;
    padding: 2px !IMPORTANT;
}
