/** Zur Gestaltung der Produktansicht */
.ct-buttonLynn {
    height: 27px;
    padding: revert;
    position: relative;
    top: 2px;
    right: 6px;
}

.ct-buttonTbOne {
    height: 27px;
    padding: revert;
    position: relative;
    top: 2px;
    right: -73px;
}
.ct-buttonLynnDiv {
    position: absolute;
    top: -32px;
    right: 2px;
}

.ct-buttonTbOneDiv {
    position: absolute;
    top: -32px;
    left: 12px;
}

.ct-lynnLabel {
    position: relative;
    top: 4px;
    right: 11px;
}

.ct-TbOneLabel {
    position: relative;
    top: 4px;
    right: 37px;
}

.ct-buttonLynnIcon {
    position: relative;
    top: -3px;
    width: 19px;
    height: 17px;
}

.ct-buttonTbOneIcon {
    position: relative;
    top: -3px;
    width: 19px;
    height: 17px;
}

.ct-urlRowColor {
    background: #e9ecef;
}

.ct-cardStyle {
    padding: 19px;
}

.ct-img-thumbnail {
    width:50px;
    height:50px;
}

.ct-description-flex {
    display: flex;

}

.ct-padding-left {
    padding-left: 5px;
}

.ct-used-image-url {
    background: #d3e8dc;
}

.ct-padding {
    padding: 1px;
}